@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
body {
  overflow-y: auto;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-bg-color: #e2c2b9;
  --secondary-bg-color: #694e4e;
  --primary-text-color: #694e4e;
  --secondary-text-color: #696969;
  --black: #323232;
  --white: #ffffff;
  --grey: #BEBEBE;
}